<!-- <div class="scroll-hider"> -->
  <div class="feed-container">
    <div class="question-display-box">	

    <% @questions.each do |q| %>
    <br>

	  <div class="question-title">
	    <%= link_to  q.title, question_path(q) %>	
	  </div>

	  <div class="info-and-options">
 	    <div class="attr-tag">
 		  <%= link_to "Answer", new_question_answer_path(q) %>
 	    </div>

 	    <div class="attr-tag">
 	      <a href="">Upvote</a>
 	    </div>

 	    <div class="attr-tag">
 	   	  <a href="">Seek Answer</a>
 	    </div>
 	  </div>
 	  <br>
    	<div class="line-break"></div>

    <% end %>

  </div>
</div>

