// Place all the styles related to the Answers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{

  margin: 0px;
}

nav{
  border: 2px solid darkblue;
  padding: 10px;
  margin-bottom: 35px;

  ul{
  	margin: 0px;
    display: flex;
	  li{
	    display: inline-block;
	  	margin-right: 5%;
	  }
	  #logo a{
	  	text-decoration: none;
	  	height: 50px;
	  	width: 80px;
	  	font-size: 1.7em;
	  	color: darkblue;
	  }
	  form{
	  	display: flex;
	  	width: 450px;
		#question{
	      height: 1em;
  	      width: 70%;
  	      font-size: 1.5em;
  	      border-radius: 2px;
  	      background-color: #e2e2e2;
	    }
	    .submit-button{
	      background-color: white;
	      color: darkblue;
	      font-size: 1em;
	    }
	  }
	  
  }
}


/*
.search-bar-box{
  border: 3px solid darkgreen;
  height: 65px;
  form{
  	height: 60px;
  	width:75%;
  	margin: auto;
  	#question{
  	  height: 80%;
  	  width: 95%;
  	  font-size: 2em;
  	  border-radius: 10px;
  	}
  }

}
*/





.question-display-box{
  border-bottom: 2px solid black;
  width: 70%;
/*  height: 300px;*/
  margin: auto;
  padding: 20px;
  background-color: white;
  
  margin-bottom: 20px;
}

.question-title{
  border: 2px ;
  font-size: 2em;
  width: 90%;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: bold;
  margin: auto;
  	a{
      text-decoration: none;
      color: black;
  	}
}

.single-answer-display{
  border: 2px solid black;
  font-size: 2.5em;
  width: 90%;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: auto;

}

.answer-user-info{
  border: 2px solid black;
  font-size: 1.5em;
  width: 90%;
  margin: auto;
  margin-top: 10px;
}

.info-and-options{
  border: 2px  ;
  display: flex;
  width: 90%;
  margin: auto;
  height: 2em;
  margin-top:10px;
  padding: 5px;
}

.answer-tag{
  border: 2px solid lightblue;
  border-radius: 5px;
  display: inline-block;
  background-color: lightblue;
  a {
  	text-decoration: none;
    color: darkblue;
    font-size: 1.5em;
    text-align: center;
    padding: 10px;
  }
}


.add-answer-form{
	border: 2px solid black;
	height: 300px;
	width: 800px;
	margin: auto;
	#body{
	  border: 2px solid blue;
	  height: 100%;
	  width: 100%;
	}	
}




