// Place all the styles related to the Answers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  margin: 0px;
}

/*nav{
  border: 2px solid darkblue;
  padding: 10px;
  padding-bottom: 0px;
  margin-bottom: 10px;
  width: 100%;
  min-height: 50px;
  padding-left: 30px;*/

  #nav-container{
  	border: 2px solid darkblue;
    border-bottom: 2px solid lightgrey;
    border-left: white;
/*    margin: auto;*/
    height: 45px;
 /*   display: flex;*/
    position: fixed;
    width: 100%;
    background-color: white;
/*    text-align: center;*/
    padding: 4px;

  	ul{
   /*   border: 2px solid orange;*/
     /* position: fixed;*/
      width: 1000px;
  	  margin: auto;
     /* width: 80%;
      margin: 0 auto;*/
      display: flex;
      padding: 8px;
      background-color: white;
      height: 25px;
	    li{
	      display: inline-block;
	  	  /*margin-right: 25px;*/
        margin: auto;
	    }
	    #logo a{
	  	  text-decoration: none;
	  	  height: 50px;
	  	  width: 80px;
	  	  font-size: 1.4em;
	  	  color: darkblue;
	    }
	    form{
	  	  display: flex;
	  	  width: 450px;
		    #question{
	        height: 1.2em;
  	      width: 70%;
  	      font-size: 1.1em;
  	      border-radius: 2px;
  	      background-color: #e2e2e2;
	      }
	      .submit-button{
	        background-color: white;
	        color: darkblue;
	        font-size: .9em;
	      }
	    }
	    a{
	  	  text-decoration: none;
	  	  height: 50px;
	  	  width: 80px;
	  	  font-size: 1.3em;
	  	  color: darkblue;
	    }
   }
  }
  
/*.scroll-hider{
  border: 20px solid black;
	width: 99%;
	height: 750px;
	border: 1px; 
	overflow: hidden;
	margin: auto;
}*/

.home-page{
  border: 1px ;
  /*width: 800px;*/
  width: 100%;
  margin: auto;
  /*margin-top: 80px;*/
  padding-top: 100px;
  height: 750px;
  overflow: auto;
/*  overflow: auto;*/
  padding-right: 15px;
  /*position: relative;*/
}

/*.options-feed{
  border: 2px solid black;
  height: 450px;
  width: 170px;
  display: inline-block;
  float: left;
  margin-left: 10%;
}*/




.question-display-box{
  border: 2px;
  border-bottom: 1px solid black;
  width: 550px;
/*  height: 300px;*/
  margin: auto;
  margin-left: 25%;
  padding: 20px;
  background-color: white;
  margin-bottom: 0px;

}

/*.line-break{
  border-bottom: 1px solid black ;
  height: 1px;
  margin: auto;
  width: 600px;
}*/


.question-title{
  border: 2px ;
  font-size: 1.4em;
  width: 90%;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: bold;
  margin: auto;
  	a{
      text-decoration: none;
      color: black;
  	}
}

.single-answer-display{
  border: 2px ;
/*  font-size: 1.1em;
*/  width: 85%;
  padding: 5px;
  font-family: Georgia,Times,"Times New Roman",serif;
  margin: auto;
  line-height: 1.4;
  font-size: 15px;

}

.answer-user-info{
  border: 2px ;
  font-size: 1em;
  width: 90%;
  margin: auto;
  margin-top: 10px;
  color: grey;
}

.info-and-options{
  border: 2px  ;
  display: flex;
  width: 90%;
  margin: auto;
  height: 2em;
  margin-top:10px;
  padding: 5px;
}

.attr-tag{
  border: 2px solid lightblue;
  border-radius: 5px;
  display: inline-block;
  background-color: lightblue;
  height: 25px;
  margin: 10px;
  padding: 2px;
  padding-bottom: 0px;
  text-align: center;
  a {
  	text-decoration: none;
    color: darkblue;
    font-size: 1.1em;
    text-align: center;
 /*   padding: 10px;*/
  }
}


.add-answer-form{
	border: 2px solid black;
	height: 300px;
	width: 800px;
	margin: auto;
	#body{
	  border: 2px solid blue;
	  height: 100%;
	  width: 100%;
	  font-size: 1.2em;
	}	
}


/*user page*/
.user-page{
  padding-top: 100px;
  border: 2px solid orange;
}


.answers{
  border: 2px solid pink;
}

.answer-requests{
  border: 2px solid grey;
}



/*login logout register*/

.create-form{
  border: 2px;
  width: 400px;
  margin: auto;
  padding-top: 300px;
}
